
.main{
  overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--body-color); 
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
    max-width: 420px; 
    margin:  auto; 
    background: var(--sidebar-color);
    border-radius: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: auto;
}
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.backBtn {
    align-self: flex-start;
    color: var(--primary-color-btn);
    font-size: 24px;
    cursor: pointer;
}

.heading {
    text-align: center;
}

.welcomeMessage {
    text-align: center;
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    margin-bottom: 0rem;
    animation: fadeIn 1s ease-in-out;
}

.welcomeMessage h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

.welcomeMessage h2 span {
    color: var(--primary-color);
    font-weight: 700;
}

.welcomeMessage p {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--primary-color-btn);
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img {
    width: 180px;
    height: 190px;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.images img:hover {
    transform: scale(1.05);
}

.ranges {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.rangeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color);
}

.rangeContainer label {
    margin-bottom: 1rem;
    font-weight: 500;
}

input[type="range"] {
    width: 80%;
    height: 5px;
    appearance: none;
    background: var(--toggle-color);
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: #5849d3;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

.forward {
    display: flex;
    justify-content: center;
    width: 100%;
}

.forward button {
    background-color: var(--primary-color);
    border-radius: 50%;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.forward button:hover {
    transform: scale(1.1);
    color: #5849d3;
}
