@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap"); 
.home-container {
  display: grid;
  grid-template-rows: 60% 50%;
}

.Mainsec-container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.Mainsec-part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 100vh;
  position: relative;
  z-index: 10;
  color: white;
}

.Mainsec-part1 .text-content {
  flex: 1;
  max-width: 50%;
  z-index: 1;
}

.Mainsec-part1 video {
  flex: 1;
  max-width: 50%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(50%);
  transition: opacity 1s ease-in-out;
  opacity: 1;
  margin-right: 4rem;
  overflow: visible;
}

/* .Mainsec-part1 video.hidden {
  opacity: 0;
} */

.Mainsec-part2 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 1rem;
  width: 100%;
  position: relative;
  top: 8%;
  min-height: 300px;
  overflow: visible;
}

.Mainsec-container h1 {
  font-size: 3.5rem;
  margin: 10px 0;
  color: black;
}

.Mainsec-container p {
  font-size: 1.2rem;
  margin: 10px 0;
  color: black;
}

.Mainsec-container button {
  margin-top: 2rem;
  padding: 14px 25px;
  background-color: #5243de;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Mainsec-container button:hover {
  background-color: #218838;
}


.UserSec-container {
  /* border: 2px solid blue;  */
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  height: 80vh;
  margin-top: 15rem;
}
.UserSec-container .user-cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 10rem;
  /* margin-top: 3rem;  */
  margin-right: 3rem;
}
.user-cards .Usercard-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 35vh;
  padding: 0px 13px;
  /* border: 2px solid green;  */
  border: none;
  border-radius: 1.4rem;
  background-color: #ffffff;
}
.Usercard-cont img {
  width: 35%;
  position: relative;
  /* top: 20%;  */
}
.Usercard-cont p {
  font-size: 0.8rem;
}
.card-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border:2px solid red;  */
  width: 26vw;
  height: 36vh;
}
.card-cont img {
  width: 35%;
  top: 15%;
  position: relative;
}
.card-cont h1 {
  margin-top: 4rem;
  font-size: 1rem;
}
.footer-cont {
  /* border: 2px solid blue;  */
  /* width: 100%;  */
  margin-top: 23rem;
  display: flex;
  justify-content: space-between;
  background-color: #5243de;
  height: 100%;
}
.footer-p1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-p2 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 1rem;
}
