.outermaxContainer {
    background-color: var(--body-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  
  .outermax2Container {
    padding: 20px;
    width: 90%;
  }
  
  .upperContainer {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
  }
  
  .leftContainer {
    flex: 1;
    justify-content: center;
  }

  .green {
    color: var(--primary-color);
    margin: 5px;
    font-size: 3rem;
    text-align: center;
  }
  
  .grey {
    color: var(--text-color);
    margin: 5px;
  }
  
  .green2 {
    color: var(--primary-color);
  }
  
  .circles {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }
  
  .circle {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--toggle-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(var(--primary-color) 0%, #40414f 0%);
    color: #fff;
    font-size: 1rem;
  }
  
  .label {
    position: absolute;
    top: 10px;
    font-size: 0.8rem;
  }
  
  .value {
    position: absolute;
    bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .searchbar {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 2px solid var(--dark-text);
    border-radius: 20px;
    background-color: transparent;
    color: var(--dark-text);
    font-size: 1rem;
  }
  
  .searchbar::placeholder {
    color: var(--dark-text);
  }
  
  .searchbar:focus {
    outline: none;
    border-color: #1E90FF;
  }
  
  .dateLine {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    padding: 0;
  }
  
  .dateItem {
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    color: white;
    font-weight: bold;
  }
  
  .goalMet {
    background-color: var(--primary-color);
  }
  
  .goalNotMet {
    background-color: black;
  }
  
  .recipeSection {
    margin-top: 40px;
    text-align: center;
  }
  
  .recipeCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 10px;
  }
  
  .recipeCard {
    width: 280px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: var(--toggle-color);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
  }
  
  .recipeCard:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .recipeImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .recipeDetails {
    padding: 20px;
    color: var(--primary-color);
  }
  
  .recipeDetails h4 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .recipeDetails p {
    margin: 8px 0;
    font-size: 14px;
    color: var(--text-color);
  }
  
  .recipeDetails a {
    display: inline-block;
    background-color: var(--primary-color);
    color: #18181b;
    font-size: 16px;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .recipeDetails a:hover {
    background-color: #1E90FF;
    transform: translateY(-3px);
  }
  
  .recipeButton {
    background-color: var(--primary-color);
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .recipeButton:hover {
    background-color: #66cc00;
  }
  